absl-py==2.1.0
aiobotocore==2.4.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiohttp-cors==0.7.0
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.14.1
alpaca==1.0.0
alpaca-trade-api==3.2.0
altair==5.5.0
aniso8601==10.0.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.4
arch==7.2.0
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
astor==0.8.1
astroid==3.3.8
astropy==6.1.7
astropy-iers-data==0.2025.2.24.0.34.4
asttokens==3.0.0
astunparse==1.6.3
async-exit-stack==1.0.1
async-generator==1.10
async-timeout==5.0.1
attrs==25.1.0
autopep8==2.3.2
awscli==1.38.1
awswrangler==3.11.0
babel==2.17.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
bayesian-optimization==2.0.3
bcrypt==4.2.1
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
bokeh==2.4.3
boto3==1.24.59
botocore==1.27.59
CacheControl==0.14.2
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chex==0.1.89
clarabel==0.10.0
click==8.1.3
cloudpickle==2.2.0
coiled==1.80.0
coiled-runtime==0.2.1
colorama==0.4.6
colorful==0.5.6
comm==0.2.2
commonmark==0.9.1
container-transform==1.1.5
contourpy==1.3.1
cryptography==44.0.1
cssselect==1.2.0
cvxpy==1.6.1
cycler==0.11.0
Cython==0.29.35
dask==2022.11.1
dask-cloudprovider==2022.10.0
dask-expr==1.1.4
dask-glm==0.3.2
dask-labextension==6.0.0
dask-ml==2022.5.27
dataprep==0.4.5
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
distlib==0.3.6
distributed==2022.11.1
dnspython==2.4.2
docker==6.0.1
docstring_parser==0.16
docutils==0.15.2
duckduckgo-search==2.8.5
ecdsa==0.18.0
ecos==2.0.12
email-validator==2.0.0.post2
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.11.0
exceptiongroup==1.1.3
executing==0.8.3
fabric==3.2.2
Farama-Notifications==0.0.4
fastapi==0.51.0
fastapi-utils==0.2.1
fastdtw==0.3.4
fasteners==0.19
fastjsonschema==2.16.2
feature-engine==1.6.1
filelock==3.8.0
findspark==2.0.1
firebase-admin==6.6.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Ext==0.1
Flask-Login==0.6.2
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
flatbuffers==23.5.26
flax==0.10.2
fonttools==4.37.4
frozendict==2.3.8
frozenlist==1.3.1
fsspec==2022.11.0
gast==0.4.0
gcsfs==2022.11.0
gilknocker==0.4.1
gitdb==4.0.9
GitPython==3.1.29
google-api-core==2.11.0
google-api-python-client==2.131.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.14.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.59.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.20.3
grpcio==1.68.1
grpcio-status==1.62.3
gTTS==2.3.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
gymnax==0.0.8
h11==0.14.0
h2==4.1.0
h5py==3.9.0
HeapDict==1.0.1
holidays==0.47
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
humanize==4.11.0
hyperframe==6.0.1
ibapi==9.81.1.post1
idna==2.10
importlib-metadata==4.13.0
importlib_resources==6.4.5
iniconfig==2.0.0
install==1.3.5
invoke==2.2.0
ipycytoscape==1.3.3
ipykernel==6.21.1
ipython==8.9.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
iso3166==2.1.1
isort==5.12.0
itsdangerous==2.1.2
jax==0.4.36
jaxlib==0.4.36
jedi==0.18.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.2.0
json5==0.9.10
jsondiff==2.0.0
jsonpath-ng==1.5.3
jsonschema==4.16.0
jupyter-client==7.3.4
jupyter-server==1.21.0
jupyter-server-mathjax==0.2.6
jupyter-server-proxy==3.2.2
jupyter_core==5.2.0
jupyterlab==3.5.0
jupyterlab-git==0.39.3
jupyterlab-nvdashboard==0.7.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.16.1
kaggle==1.5.16
keras==2.13.1
keras-tuner==1.3.5
kiwisolver==1.4.4
kt-legacy==1.0.5
lean==1.0.199
libclang==16.0.6
linkify-it-py==2.0.3
llvmlite==0.39.1
locket==1.0.0
lux==0.5.1
lux-api==0.5.1
lux-widget==0.1.11
-e git+https://github.com/Lux-AI-Challenge/Lux-Design-S3/@c63803a1b8b203dc2c3af83c45cac30b6ee9467e#egg=luxai_s3&subdirectory=src
lxml==4.9.2
lz4==4.0.2
Mako==1.2.4
mangum==0.19.0
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.1
maskpass==0.3.7
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
memray==1.12.0
Metaphone==0.6
mistune==0.8.4
ml_dtypes==0.5.0
Mosek==10.0.45
motor==2.0.0
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.2
multipledispatch==1.0.0
multitasking==0.0.11
mysql-connector-python==8.1.0
nanoid==2.0.0
narwhals==1.28.0
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==6.5.4
nbdime==3.1.1
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.1
notebook-as-pdf==0.5.0
notebook_shim==0.2.0
numba==0.56.3
numcodecs==0.13.1
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.2
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
optax==0.2.4
orbax-checkpoint==0.10.2
osqp==0.6.2.post9
packaging==23.0
pandas==1.5.2
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.3
partd==1.4.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip-requirements-parser==32.0.1
platformdirs==2.6.2
playsound==1.3.0
pluggy==1.3.0
ply==3.11
prometheus-client==0.15.0
prompt-toolkit==3.0.36
propcache==0.3.0
property-cached==1.6.4
proto-plus==1.25.0
protobuf==4.25.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
py4j==0.10.9.7
pyarrow==10.0.1
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyathena==2.1.0
pybind11==2.10.4
pycodestyle==2.12.1
pycparser==2.21
pydantic==1.10.9
pydeck==0.8.0
pydot==1.4.2
pyee==8.2.2
pyerfa==2.0.1.5
Pygments==2.14.0
PyJWT==2.10.1
pylint==3.0.2
pymongo==3.7.1
Pympler==1.0.1
PyNaCl==1.5.0
pynput==1.7.7
pynvml==11.4.1
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyppeteer==1.0.2
pyrsistent==0.18.1
pyspark==3.5.1
pytest==7.4.2
pytest-flask==1.2.0
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-keycloak==3.3.0
python-multipart==0.0.6
python-slugify==7.0.0
python-stdnum==1.18
pytz==2025.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==25.0.0
qdldl==0.1.7
quantconnect-stubs==16545
rapidfuzz==2.15.1
ray==2.23.0
readability-lxml==0.8.1
redis==4.4.0
regex==2021.11.10
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.1
Riskfolio-Lib==4.2.0
rsa==4.5
s3fs==2022.11.0
s3transfer==0.6.2
schedule==1.2.1
scikeras==0.11.0
scikit-learn==1.1.3
scipy==1.14.1
scs==3.2.7.post2
seaborn==0.12.2
semver==2.13.0
Send2Trash==1.8.0
sh==2.1.0
shtab==1.7.1
simpervisor==0.4
simplejson==3.19.3
six==1.16.0
sklearn==0.0
smart-open==7.0.4
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparse==0.15.5
spectate==1.0.1
SQLAlchemy==1.3.23
stack-data==0.5.1
starlette==0.13.2
statsmodels==0.13.2
streamlit==1.40.0
sympy==1.12
TA-Lib==0.4.27
tabulate @ file:///private/tmp/python-tabulate-20231113-17262-1dzbtg2/tabulate-0.9.0
tblib==1.7.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-addons==0.21.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
tensorstore==0.1.69
termcolor==2.3.0
terminado==0.16.0
testpath==0.6.0
text-unidecode==1.3
textual==0.63.6
threadpoolctl==3.1.0
tiktoken==0.3.3
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
torchviz==0.0.3
tornado==6.1
tqdm==4.64.1
traitlets==5.9.0
typeguard==4.4.1
typing_extensions==4.11.0
tyro==0.9.2
tzdata==2025.1
tzlocal==4.3
uc-micro-py==1.0.3
ujson==5.8.0
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.23.2
validators==0.20.0
varname==0.8.3
virtualenv==20.16.6
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.4.1
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==3.6.1
wordcloud==1.9.2
wrapt==1.14.1
xarray==2022.11.0
xgboost==1.7.1
XlsxWriter==3.1.0
xyzservices==2025.1.0
yarl==1.18.3
yfinance==0.2.26
zarr==2.13.3
zict==2.2.0
zipp==3.10.0
